extends ../partials/layout

block content
    #root(class="flex h-full items-center justify-center")
        form(method="post" class="flex flex-col items-center w-full px-8 sm:px-0 sm:w-[400px] gap-8") 
            img(src="/assets/icon.svg" alt="Site icon" class="w-12")

            h2(class="text-2xl font-bold") Sign in to your account

            if (incorrectInputs) 
                p(class="text-sm text-red-700 my-[-20px] self-start") The username and/or password are incorrect.

            fieldset(class="w-full")
                div.flex.flex-col
                    label(for="username" class="mb-1 text-sm") Username 
                    input(
                        type="text" 
                        name="username" 
                        class="input-primary mb-5"
                        required
                    )
                
                div.flex.flex-col
                    label(for="password" class="mb-1 text-sm") Password 
                    input(
                        type="text" 
                        name="password"
                        class="input-primary"
                        required
                    )

            
            button(class="btn-primary") Sign in 
            p Not a member? 
                a(href="/register" class="text-purple font-semibold hover:text-purple-dark transition") Register